label{
    font-family: 'DotGothic16', sans-serif;
    color: white;
    
}

input{
    font-family: 'DotGothic16', sans-serif;
    padding-left: 10px;
}

select{
    font-family: 'DotGothic16', sans-serif;
}

.font{
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

.font-black{
    font-family: 'DotGothic16', sans-serif;
    color: black;
}

.botao{
    background-color: rgb(238, 238, 115);
}