.fs-16{
    font-size: 16pt;
}

.fs-20{
    font-size: 20pt;
}
a{
    cursor: pointer;
}

.back{
    background-color: rgb(65, 59, 138);
}

.font{
    font-family: 'DotGothic16', sans-serif;
    color: white;
    letter-spacing: 1px;
}