#img-bg{
    background-image: url(https://image.freepik.com/vetores-gratis/paisagem-da-floresta-de-pinheiros-no-por-do-sol-de-noite-com-ilustracao-do-ceu-de-montanha_105940-506.jpg);
    min-height: 657px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}