<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-3 font-black" style="text-decoration: underline;">Atualizar postagem?</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div class="modal-body">

                <div class="form-group">
                    <label for="titulo" class="font-black">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Digite o título">
                </div>

                <div class="form-group">
                    <label for="texto" class="font-black">Texto</label>
                    <textarea [(ngModel)]='postagem.texto' name="texto" class="form-control" id="texto"
                        rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="tema" class="font-black">Tema</label>
                    <select name="tema" class="form-control" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">
                            {{item.descricao}}
                        </option>
                    </select>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mr-4 font" routerLink='/inicio'>Cancelar</button>
                    <button class="btn botao font-black" (click)='atualizar()'>Atualizar</button>

                </div>

            </div>

        </div>
    </div>
</div>