.fs-54 {
    font-size: 54pt;
}

.fs-18 {
    font-size: 18pt;
}

input{
    font-family: 'Roboto', sans-serif;
    color: black;
}

textarea{
    font-family: 'Roboto', sans-serif;
    color: black;
    resize: none;
}

select{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.font {
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

.font-black {
    font-family: 'DotGothic16', sans-serif;
    color: black;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 600;
}

.font-roboto-lt {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.back {
    background-color: rgb(65, 59, 138);
}

.hov :hover {
    background-color: rgb(65, 59, 138);
}

.botao {
    background-color: rgb(238, 238, 115);
}

.foto-back {
    background-image: url(../../assets/img/nm-cg-studio-01-100.jpg.png);
    background-position: bottom;
    background-size: 100%;
}