.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.font{
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

.font-black{
    font-family: 'DotGothic16', sans-serif;
    color: black;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
    color: black;
    letter-spacing: 2px;
}

.font-roboto-lt{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.back{
    background-color: rgb(65, 59, 138);
}

.botao{
    background-color: rgb(238, 238, 115);
}