<div class="container-fluid">

    <div class="row back d-flex align-items-center foto-back">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white hov">
                    <h1 class="fs-54 font mt-4" style="text-decoration: underline;">Seja Bem Vindo(a)!</h1>
                    <h5 class="fs-18 font">Expresse aqui os seus pensamentos e opiniões!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button data-toggle="modal" data-target="#novaPostagem" class="btn botao font-black mr-2">Nova
                        Postagem</button>
                    <a class="btn btn-outline-dark font" href="#postagens">Ver Postagens</a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container mb-5 mt-5" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <a class="nav-item nav-link active font-roboto font-weight-bold" id="nav-todasPostagens-tab"
                data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                aria-selected="true">Todas as Postagens</a>

            <a (click)='findByIdUser()' class="nav-item nav-link font-roboto font-weight-bold"
                id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
                aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                Postagens</a>

            <a (click)='findByIdTema()' class="nav-item nav-link font-roboto font-weight-bold" id="nav-porTema-tab"
                data-toggle="tab" href="#porTema" role="tab" aria-controls="nav-porTema" aria-selected="false">Postagens
                por Tema</a>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active font-roboto-lt" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <div class="row d-flex justify-content-center mt-5 mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo"
                            placeholder="Digite um título de postagem para pesquisar" [(ngModel)]='tituloPost' 
                            (keyup)='findByTituloPostagem()'>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                    <h5 class="card-title m-0 font-roboto">{{item.titulo}}</h5>
                    <small class="text-muted font-roboto-lt">Tema: {{item.tema.descricao}} | Publicado por:
                        {{item.usuario.nome}}</small>
                    <p class="card-text mt-3 mb-0 font-roboto-lt">{{item.texto}}</p>
                    <hr class="mt-0 mb-0">
                    <p class="card-text mt-0">
                        <small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                            'HH:mm'}}</small>
                    </p>
                </div>
            </div>


        </div>

        <div class="tab-pane fade font-roboto-lt" id="minhasPostagens" role="tabpanel"
            aria-labelledby="nav-minhasPostagens-tab">

            <div class="card mt-3">
                <div class="card-body" *ngFor='let item of user.postagem | orderBy : key : reverse'>
                    <h5 class="card-title m-0 font-roboto">{{item.titulo}}</h5>
                    <small class="text-muted font-roboto-lt">Tema: {{item.tema.descricao}}</small>
                    <p class="card-text mt-3 mb-0 font-roboto-lt">{{item.texto}}</p>

                    <p class="text-right">
                        <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3 font">Editar</a>
                        <a [routerLink]="['/postagem-delete', item.id]" class="text-danger font">Deletar</a>
                    </p>

                    <hr class="mt-0 mb-0">
                    <p class="card-text mt-0">
                        <small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                            'HH:mm'}}</small>
                    </p>
                </div>
            </div>



        </div>

        <div class="tab-pane fade font-roboto-lt" id="porTema" role="tabpanel" aria-labelledby="nav-porTema-tab">

            <div class="row d-flex justify-content-center mt-5 mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo"
                            placeholder="Digite um título de postagem para pesquisar" [(ngModel)]='nomeTema' 
                            (keyup)='findByNomeTema()'>
                    </div>
                </div>
            </div>

            <div class="card mt-3" *ngFor='let tema of listaTemas'>
                <div class="card-body" *ngFor='let item of tema.postagem | orderBy : key : reverse'>
                    <h5 class="card-title m-0 font-roboto">{{item.titulo}}</h5>
                    <small class="text-muted font-roboto-lt">Publicado por: {{item.usuario.nome}}</small>
                    <p class="card-text mt-3 mb-0 font-roboto-lt">{{item.texto}}</p>
                    <hr class="mt-0 mb-0">
                    <p class="card-text mt-0">
                        <small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                            'HH:mm'}}</small>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header back">
                <h5 class="modal-title font" id="exampleModalCenterTitle">Nova Postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="titulo" class="font-black">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Digite o título">
                </div>

                <div class="form-group">
                    <label for="texto" class="font-black">Texto</label>
                    <textarea [(ngModel)]='postagem.texto' name="texto" class="form-control" id="texto"
                        rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="tema" class="font-black">Escolha um tema ou <a data-dismiss="modal"
                            routerLink='/tema'>cadastre um
                            novo</a>:</label>
                    <select name="tema" class="form-control" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">
                            {{item.descricao}}
                        </option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn botao font-black" data-dismiss="modal"
                    (click)='publicar()'>Publicar</button>
            </div>
        </div>
    </div>
</div>